.auth-page {
  width: 100%;
  height: 100vh;
  // .auth-page__container

  &__container {
    padding: 0 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .auth-page__form
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  align-items: center;
  gap: 10px;
  background-color: rgb(93, 93, 218);
  padding: 30px 60px;
  h1 {
    color: whitesmoke;
  }
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &__field {
    min-width: 100%;
  }
}

// ::ng-deep {
//
// }
