@import "src/assets/style/variables";
@import "src/assets/style/mixins";

.header {
  background-color: $darkSectionBackground;
  color: $mainWhiteColor;
  &__container {
    padding: 20px 40px;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
  }
}
.navbar-header {
  min-height: 126px;
  &__auth-control {
    display: flex;
    align-items: center;
  }

  &__logout-button {
    background-color: $mainBlackColor;
    padding: 40px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    @include buttonHover;
  }
}
.user-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: max-content;
  gap: 10px;
  background-color: $mainBlackColor;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  &__title {
    font-size: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
