<input
  *ngIf="element.title === 'input'"
  [placeholder]="element.placeholderText"
  [required]="element.required"
  [ngStyle]="setInputStyle(element)"
  disabled
/>
<textarea
  *ngIf="element.title === 'textarea'"
  [placeholder]="element.placeholderText"
  [required]="element.required"
  [ngStyle]="setInputStyle(element)"
  disabled
></textarea>
<button
  mat-raised-button
  color="accent"
  *ngIf="element.title === 'button'"
  [ngStyle]="setInputStyle(element)"
>
  {{ element.placeholderText }}
</button>
<input
  type="radio"
  *ngIf="element.title === 'radio-input'"
  [required]="element.required"
  [ngStyle]="setInputStyle(element)"
  disabled
/>
