<div class="drop-section">
  <div
    class="drop-section__drop-field drop-field"
    cdkDropList
    [cdkDropListData]="elements"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngFor="let element of elements">
      <input
        *ngIf="element.title === 'input'"
        class="drop-field__element"
        [placeholder]="element.placeholderText"
        [required]="element.required"
        [ngStyle]="setInputStyle(element)"
        cdkDrag
      />
      <button
        mat-raised-button
        color="accent"
        *ngIf="element.title === 'button'"
        class="drop-field__element"
        [ngStyle]="setInputStyle(element)"
        cdkDrag
      >
        {{ element.placeholderText }}
      </button>
      <textarea
        *ngIf="element.title === 'textarea'"
        class="drop-field__element"
        [ngStyle]="setInputStyle(element)"
        [placeholder]="element.placeholderText"
        [required]="element.required"
        cdkDrag
      ></textarea>
    </ng-container>
  </div>
</div>
