<section class="drop-section">
  <form
    class="drop-section__drop-field drop-field"
    cdkDropList
    [cdkDropListData]="elements"
    (cdkDropListDropped)="onDrop($event)"
    (cdkDropListEntered)="onEnter()"
    [formGroup]="customForm"
    *ngIf="elements"
    (ngSubmit)="onCustomFormSubmit()"
  >
    <ng-container *ngFor="let element of elements; let i = index">
      <app-dynamic-form-control
        class="drop-field__element"
        *ngIf="element.title !== 'button'"
        [element]="element"
        [formControlName]="i"
        cdkDrag
      >
        <app-delete-button
          (click)="removeElement({ id: element.id, formControl: i })"
          class="drop-field__delete-button"
        ></app-delete-button>
      </app-dynamic-form-control>
      <app-button
        class="drop-field__button"
        *ngIf="element.title === 'button'"
        [element]="element"
      >
        <app-delete-button
          (click)="removeElement({ id: element.id })"
          class="drop-field__delete-button"
        ></app-delete-button>
      </app-button>
    </ng-container>
    <div class="drop-field__default-text" *ngIf="isVisibleDefaultAnimation">
      Move elements here to create a Form!!!
    </div>
  </form>
  <div class="drop-section__control-buttons">
    <button mat-raised-button color="warn" (click)="clearDropField()">
      CLEAR
    </button>
    <button mat-raised-button color="accent" (click)="saveDropField()">
      SAVE
    </button>
  </div>
</section>
