.drop-section {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
}
.drop-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(4, 3, 3, 0.7);
  // .drop-field__element

  &__element {
  }
}
