<section class="drop-section">
  <form
    class="drop-section__drop-field drop-field"
    cdkDropList
    [cdkDropListData]="elements"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListExited)="exit($event)"
    [formGroup]="customForm"
    *ngIf="elements"
    (ngSubmit)="onCustomFormSubmit()"
  >
    <ng-container *ngFor="let element of elements; let i = index">
      <app-dynamic-form-control
        class="drop-field__element"
        *ngIf="element.title !== 'button'"
        [element]="element"
        [formControlName]="i"
        cdkDrag
      >
      </app-dynamic-form-control>
      <app-button
        class="drop-field__button"
        *ngIf="element.title === 'button'"
        [element]="element"
      ></app-button>
    </ng-container>
  </form>
  <div class="drop-section__control-buttons">
    <button mat-raised-button color="warn" (click)="clearDropField()">
      CLEAR
    </button>
    <button mat-raised-button color="primary" (click)="saveDropField()">
      SAVE
    </button>
  </div>
</section>
