.page {
  &__container {
    padding: 30px;
  }
}
.sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85vh;
  &__left-side {
    width: clamp(30%, 40%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 90%;
    height: fit-content;
  }

  &__right-side {
    width: clamp(40%, 60%, 60%);
  }

  &__styling {
    min-height: 30%;
  }
}
