.page {
  &__container {
    padding: 30px;
  }
}
.sections {
  display: flex;
  grid-template: 20px;
  width: 100%;
  height: 85vh;
  &__left-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 90%;
  }

  &__right-side {
    width: 60%;
  }

  &__styling {
    min-height: 30%;
  }
}
