.page {
  &__container {
    padding: 40px;
  }
}
.sections {
  display: flex;
  grid-template: 20px;
  width: 100%;
  height: 80vh;
  &__left-side {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 90%;
  }

  &__right-side {
    width: 65%;
  }

  &__styling {
    min-height: 30%;
  }
}
