@import "src/assets/style/variables";

.styling-section {
  background-color: $darkSectionBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  height: fit-content;
  min-height: 300px;
  width: 100%;
  font-size: 18px;
  &__static-text {
    font-size: 25px;
  }
}
