$stylingSectionBackgroundColor: rgb(6, 21, 3);

.styling-section {
  background-color: $stylingSectionBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  font-size: 22px;
  &__static-text {
    font-size: 30px;
  }
}
